Importando Bibliotecas

In [1]:
import pandas as pd

Importando base de dados

In [16]:
def importar(arquivo): return pd.read_csv(f'./bases/{arquivo}',delimiter=',')

dados_categorias = importar('data_categorias.csv')
dados_clientes = importar('data_clientes.csv')
dados_lojas = importar('data_lojas.csv')
dados_produtos = importar('data_produtos.csv')
dados_vendas = importar('data_vendas.csv')

Correções

* Alterar o tipo de dados das datas ✓
* Remover R$ dos valores ✓
* Consolidar as bases ✓
* Criar a coluna de Total ✓
* Salvar o novo data_set ✓

In [ ]:
dados_vendas['dt_Venda'] = pd.to_datetime(dados_vendas['dt_Venda'])
dados_vendas.dtypes

dados_produtos['Preço Unitário'] = dados_produtos['Preço Unitário'].str.lstrip('R$ ').astype(float)
dados_produtos

In [31]:

dados_consolidados = pd.merge(  dados_vendas, dados_clientes,
                                left_on='fk_Cliente', right_on='id_Cliente',
                                how='left')

dados_consolidados = pd.merge(dados_consolidados, dados_produtos,
                              how='right', left_on='fk_Produto',right_on='id_Produto')

dados_consolidados = pd.merge(dados_consolidados, dados_lojas,
                              how='right', left_on='fk_Loja',right_on='id_Loja')
dados_consolidados = pd.merge(dados_consolidados, dados_categorias,
                              how='right', left_on='fk_Categoria',right_on='id_Categoria')
dados_consolidados.columns

Index(['id_Venda', 'fk_Cliente', 'fk_Produto', 'fk_Loja', 'Quantidade',
       'dt_Venda', 'id_Cliente', 'Cliente', 'Email', 'id_Produto', 'Produto',
       'fk_Categoria', 'Preço Unitário', 'id_Loja', 'Loja', 'id_Categoria',
       'Categorias'],
      dtype='object')

In [ ]:
dados_consolidados['Total'] = dados_consolidados['Preço Unitário'] * dados_consolidados['Quantidade']
dados_consolidados

In [35]:
try:
    dados_consolidados.drop(columns=['fk_Cliente','fk_Produto','fk_Loja','fk_Categoria'], inplace=True)
except:
    print("Já foram deletadas")
dados_consolidados.columns

Já foram deletadas

Index(['id_Venda', 'Quantidade', 'dt_Venda', 'id_Cliente', 'Cliente', 'Email',
       'id_Produto', 'Produto', 'Preço Unitário', 'id_Loja', 'Loja',
       'id_Categoria', 'Categorias', 'Total'],
      dtype='object')

In [44]:
dados_consolidados.to_csv('./bases/data_consolidados.csv',sep=',',index=False)
dados_consolidados.head()

,id_Venda,Quantidade,dt_Venda,id_Cliente,Cliente,Email,id_Produto,Produto,Preço Unitário,id_Loja,Loja,id_Categoria,Categorias,Total
0,766979-7865826879-vd353,31.0,2023-01-04,3996.0,Ruthe Schowalter,Ruthe@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,175150.0
1,766979-7865826879-vd1373,1.0,2023-01-13,1558.0,Samantha Pollich,Saman@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,5650.0
2,766979-7865826879-vd1589,19.0,2023-01-15,3782.0,Carli Bernhard,Carli@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,107350.0
3,766979-7865826879-vd2101,15.0,2023-01-20,1282.0,Donnie Mertz,Donni@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,84750.0
4,766979-7865826879-vd2402,32.0,2023-01-23,3815.0,Dr. Efren Brekke,Dr. E@email.com,1.0,Computador_PowerPlex,5650.0,1.0,São Paulo,1,Computador,180800.0